extends layout

block append content
	div WANTED
		table(class="table table-striped table-bordered")
			thead
				tr
					td
						a Term
					td
						a Occurences
			tbody
			- for (var i = 0; i < buy.length; i++) {
				tr
					td
						a=buy[i]['_id']
					td
						a=buy[i]['num']
			- }
	div FOR SALE
		table(class="table table-striped table-bordered")
			thead
				tr
					td
						a Term
					td
						a Occurences
			tbody
			- for (var i = 0; i < sell.length; i++) {
				tr
					td
						a=sell[i]['_id']
					td
						a=sell[i]['num']
			- }