extends layout

block append content
	table(class="table table-striped table-bordered")
		thead
			tr
				td
					a Term
				td
					a Occurences
		tbody
		- for (var i = 0; i < data.length; i++) {
			tr
				td
					a=data[i]['_id']
				td
					a=data[i]['num']
		- }