body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #104E8B;
}
.titles {
  color: white;
}
a:hover {
  text-decoration: none;
}
#celery_cont {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
#celery {
  color: white;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.cel {
  width: 50px;
  height: 77px;
  margin-top: -50px;
}
.in {
  display: inline-block;
}
